body {
  background-color: white;
  color: #36382E;
}

h1, h2 {
  padding: 5%;
}

#student {
  padding-top: 10%;
  padding-left: 10%;
}

#teacher {
  padding-top: 10%;
  padding-left: 10%;
}

header {
  text-align: center;
  font-family: 'open sans', helvetica, arial, sans;
  color: white;
  padding-bottom: 5%;
  background: url('../images/desk.png') no-repeat;
  background-size: cover;
  text-shadow: 2px 2px 4px #000000;
}

#headers {
  opacity: .7;
}

p {
  margin: 0;
}

h4 {
  margin: 0;
}

main {
  font-family: 'open sans', helvetica, arial, sans;
  min-height: 900px;
}

form {
  padding-left: 10%;
  border: 2px solid black;
}

footer {
  background-color: #596F62;
  text-align: center;
  position: relative;
  width: 100%;
}

#resources {
  display: inline-block;
  border: 2px solid blue;
}

#resource-links {
  text-decoration: none;
}
