#teacher-button {
  background: #EDE6E3;
  width: 80%;
  margin: 0;
  border-radius: 5%;
  font-size: 12pt;
}

#student-button {
  background: #DADAD9;
  width: 80%;
  margin: 0;
  border-radius: 5%;
  font-size: 12pt;
}

#panic-button {
  display: inline-block;
  background-color: red;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
}

.row {
  padding-top: 5%;
}

#deskImg {
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  background-size: cover;
}
