@media (min-width: 320px) {
  #teacher-button {
   height: 27vh;
  }
  #student-button {
   height: 27vh;
  }
}

 @media (min-width: 400px) {
  #teacher-button {
   height: 33vh;
  }

  #student-button {
   height: 33vh;
  }
}
